<!doctype html>
<html>
<head>
  <title>Modify Image</title>
</head>
<body>
  <h1>Modify Image</h1>
  <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Uploaded Image"/>
  <form action="" method="post">
    <label for="hue">Hue (0-180):</label>
    <input type="number" id="hue" name="hue" min="0" max="180" value="120"><br>
    <label for="saturation">Saturation (0-255):</label>
    <input type="number" id="saturation" name="saturation" min="0" max="255" value="255"><br>
    <input type="submit" value="Modify Image">
  </form>
  <a href="{{ url_for('download_image', filename=filename) }}">Download Modified Image</a>
</body>
</html>